
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario-contenedor {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

h2 {
    color: white;
    background-color: #551b87;
    padding: 15px;
    text-align: center;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

form {
    padding: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: #7c3aed;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5b21b6;
}

#respuesta {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    text-align: center;
}
